<div id="logo"></div>
<div id="menu-top" class="full-center">
    <ul>
        <li><a class="menu-pages" href="/index.html">Accueil</a></li>
        <li><a class="menu-pages" href="/pages/technologie.html">Technologie</a></li>
        <li><a class="menu-pages" href="/pages/product.html">Produit</a></li>
        <li><a class="menu-pages" href="/pages/infos.html">à propos</a></li>
        <li><a class="menu-pages" href="/pages/faq.html">FaQ</a></li>
    </ul>
</div>
<div id="menu-important" class="top-menu-element">
    <div class="full-center btn-important bg-blue"> <a href="#">Espace<br>client</a> </div>
    <div class="full-center btn-important bg-orange"> <a href="financement.html">Options<br>de financement</a> </div>
    <div class="full-center btn-important bg-green"> <a href="#main-offers">Découvrez<br>nos offres</a> </div>
</div>
<nav id="navigation">
    <ul></ul>
</nav>


<div class="nav-arrow">
    <a href="javascript:void(0);" onclick="$.scrollify.next();">
        <i class="arrow"></i>
    </a>
</div>